<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotopersonal.jpg"
         class="img-fluid ImagenPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="Nombre">Menta Mandaza Agustina</p>
        <p> Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente illo fugiat cum nisi, sequi animi atque quidem placeat iure sit, nemo ut! Repudiandae ea animi, quis quod totam modi cum.</p>
    
        </span>
    </div>
</div>
