<div class="row">
    <h1>
        Educación
    </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Educación 1</h1> -
                 <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi accusamus beatae deserunt quo libero, nemo molestias, eum voluptas odio sunt quae atque totam ipsa culpa. Eum unde maiores voluptas architecto.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Educación 2</h1> -
                 <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi accusamus beatae deserunt quo libero, nemo molestias, eum voluptas odio sunt quae atque totam ipsa culpa. Eum unde maiores voluptas architecto.
            </p>
        </ul>
    </div>
    <div class="col-lg-1"></div> 
</div>
